{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-md">
                <h1>Edit your profile</h1>
            </div>
            <div class="col-sm"></div>
        </div>
     <form method="POST">
         <div class="row">
             <div class="col-sm"></div>
             <div class="col-md text-left">
                 <label for="Edit profile">Edit profile</label>
             </div>
             <div class="col-sm"></div>
         </div>


         <div class="form-group">
             <div class="row">
                 <div class="col-sm text-right"><label for="username">Username: </label></div>
                 <div class="col-md text-left">

                     <input type="text" name="username" value={{ user.username }} disabled>
                 </div>
                 <div class="col-sm"></div>
             </div>
        </div>
         <div class="form-group">
             <div class="row">
                 <div class="col-sm text-right"><label for="firstname">Firstname: </label></div>
                 <div class="col-md text-left">

                     <input type="text" name="firstname" value={{ user.firstname }}>
                 </div>
                 <div class="col-sm"></div>
             </div>
        </div>
         <div class="form-group">
             <div class="row">
                 <div class="col-sm text-right"><label for="lastname">Lastname: </label></div>
                 <div class="col-md text-left">

                     <input type="text" name="lastname" value={{ user.lastname }}>
                 </div>
                 <div class="col-sm"></div>
             </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm text-right"><label for="email">E-mail: </label></div>
                <div class="col-md text-left">
                    <input type="email" name="email" value={{ user.email }}>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
         <div class="form-group">
             <div class="row">
                 <div class="col-sm text-right"><label for="password">Password: </label></div>

                 <div class="col-md text-left">

                     <input type="password" name="password">


                 </div>
                 <div class="col-sm text-left">
                     <small>(leave blank if you don't want to change the password)</small>
                 </div>
             </div>
         </div>
         <div class="form-group">
             <div class="row">
                 <div class="col-sm text-right"></div>
                 <div class="col-md text-left">
                     <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
                     <a class="btn btn-secondary" href="{{ url_for('index') }}" role="button">Cancel</a>
                 </div>
                 <div class="col-sm"></div>
             </div>
         </div>
    </form>
    </div>
{% endblock %}