{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1>Edit your profile</h1>


     <form method="POST">
        <label for="Edit profile">Edit profile</label><br>
         <div class="form-group">
             <label for="username">Username: </label>
            <input type="text" name="username" value={{ user.username }} disabled><br>
        </div>
         <div class="form-group">
             <label for="firstname">Firstname: </label>
            <input type="text" name="firstname" value={{ user.firstname }}><br>
        </div>
         <div class="form-group">
             <label for="lastname">Lastname: </label>
            <input type="text" name="lastname" value={{ user.lastname }}><br>
        </div>
        <div class="form-group">
             <label for="email">E-mail: </label>
            <input type="email" name="email" value={{ user.email }}><br>
        </div>
         <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password">
             <small>(leave blank if you don't want to change the password)</small><br>
         </div>
         <div class="form-group">
            <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
            <a class="btn btn-secondary" href="{{ url_for('index') }}" role="button">Cancel</a>
         </div>
    </form>
    </div>
{% endblock %}