{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">

        <h1>Login to your Code Diary</h1>
        <div class="text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes bg-warning">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-md text-left">
                    <label for="User login"></label>
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm text-right">
                        <label for="username">Username: </label>
                    </div>
                    <div class="col-md text-left">
                        <input type="text" name="username" placeholder="Type your username"><br>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm text-right">
                        <label for="password">Password: </label>
                    </div>
                    <div class="col-md text-left">
                        <input type="password" name="password" placeholder="Type your password"><br>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm text-right"></div>
                    <div class="col-md text-left">
                        <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}