{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Edit your diary entry</h1>
        <div>
            <form method="POST">
                <label for="Diary Creation">Edit your diary entry</label><br>
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input type="text" name="title" value="{{ diary.title }}"><br>
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <textarea name="description" rows="10">{{ diary.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="link">Link: </label>
                    <input type="url" name="link" value="{{ diary.link }}"><br>
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit" value="Submit">Submit</button>
                    <a class="btn btn-secondary" href="{{ url_for('diaries.index') }}" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}